<strong>Hello, {{deliveryguy}}</strong>
<p>You got a canceled Order, check it out all the details below:</p>
<p>
  <strong>Product Name: </strong> {{product}}<br/>
  <strong>Recipient Name: </strong> {{recipient}}<br/>
  <strong>Canceled At: </strong> {{canceled_date}}<br/>

  <br/>
  <small>
    This order is canceled. Do not deliver this order, Call xxxx or check delivery problems for more information about it.
  </small>
</p>
