<strong>Hello, {{deliveryguy}}</strong>
<p>There`s a new Order for you, check it out all the details below:</p>
<p>
  <strong>Product Name: </strong> {{product}}<br/>
  <strong>Recipient Name: </strong> {{recipient}}<br/>
  <br/>
  <small>
    This order is ready for pick up. Drive Safely and have a nice day.
  </small>
</p>
